<div class="span4 iconhub-icon-block" style="display: none;">
  <!--
  <svg viewBox="0 0 16 16" version = "1.1" xmlns="www.w3.org/2000/svg" style="width: 8px; height: 8px; float: right; display: block;">
    <path d="M 0 0 L 16 0 L 16 16 L 0 0" fill="#FFFFFF" stroke-width="0"/>
  </svg>
   -->
  <img data-dojo-attach-point="dummyImageNode" style="display: none"/>
  <div data-dojo-attach-point="imageWrapperNode" class="iconhub-icon-image-wrapper">
    <img data-dojo-attach-point="imageNode"/>
  </div>
  <div class="iconhub-icon-info">
    <div data-dojo-attach-point="titleNode" class="iconhub-icon-title"></div>
    <div data-dojo-attach-point="filenameNode"></div>
    <div data-dojo-attach-point="dimensionsNode"></div>
  </div>
</div>