
/*
Chango
Corben
Fascinate
Fascinate Inline
Poller One ***
Squada One ***
*/
@import url(http://fonts.googleapis.com/css?family=Squada+One);

.jumbotron h1.iconhub-logo {
  font-family: 'Squada One';
  letter-spacing: 1pt;
  font-weight: normal;
}

span.iconhub-logo-icon{
  color: #333333;
}

span.iconhub-logo-hub {
  color: #666666;
}