/** Dark android
#094036
#247364
#6BBFB0
#F2F2F2
#0D0D0D
*/

/*
Chango
Corben
Fascinate
Fascinate Inline
Poller One ***
Squada One ***

Signika Negative
Coda
Tinos
Abel
Share
*/
@import url('http://fonts.googleapis.com/css?family=Muli');
@import url('http://fonts.googleapis.com/css?family=Squada+One');
@import url('http://fonts.googleapis.com/css?family=Signika+Negative');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

.loading {
  background: url('/images/ajax-loader.gif') center top no-repeat;
  height: 0;
  padding-top: 24px;
  overflow: hidden;
  display: block !important;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: url('/images/textures/maxtextures_metal_texture.gif') left top repeat;
}

body > .container {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  margin-top: 20px;
}

header #iconhub-menu-row,
header #iconhub-submenu-row {
  margin-right: -20px;
}

header #iconhub-menu-row {
  background-color: #6BBFB0;
  padding: 20px 0 0 0;
  height: 90px;
}

header #iconhub-submenu-row {
  background-color: #F2F2F2;
  height: 40px;
  /*
  border-bottom: solid 1px #6BBFB0;
  */
}

.jumbotron h1.iconhub-logo {
  font-family: 'Squada One';
  font-size: 50px;
  margin: 0;
  letter-spacing: 1pt;
  font-weight: normal;
  display: inline;
  position: relative;
  left: -2px;
}

h1.iconhub-logo a:hover {
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.lead {
  margin-left: 1em;
  color: #333333;
  text-shadow: 1px 1px 1px #FFFFFF;
}

span.iconhub-logo-icon {
  color: #333333;
}

span.iconhub-logo-hub {
  color: #666666;
}

/*
.dijitMenuBar > div:first-child {
  float: right;
}
*/

#footer {
  margin-top: 4em;
  border-top: solid 1px #999999;
  padding: .5em 0;
  font-size: .9em;
}

#content-wrapper {
  margin-top: 20px;
}

#content-wrapper h2 {
  font-weight: bold;
  font-size: 25px;
}

#content-wrapper h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1.5em;
  margin-bottom: .2em;
  padding: 0;
  line-height: normal;
}

#content-wrapper p,
#content-wrapper ul,
#content-wrapper ol {
  font-size: 16px;
}

#lift__noticesContainer__ {
  /*
  display: none;
  */
}

.form-hidden-labels label {
  display: none;
}

input {
  font-family: 'Source Sans Pro',sans-serif;
}

#lift__noticesContainer__ ul {
  font-family: 'Source Sans Pro',sans-serif;
  margin-left: 0;
}

#lift__noticesContainer__ li {
  list-style-type: none;
  color: #B94A48;
}

a.signup {
  margin-left: 1em;
}

.iconhub-icon-block {
  margin-bottom: 16px;
  background-color: #F2F2F2;
}

.iconhub-icon-image-wrapper {
  width: 128px;
  height: 128px;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.iconhub-icon-image-wrapper img {
  max-width: 128px;
  max-height: 128px;
}

.iconhub-icon-info {
  display: table-cell;
  vertical-align: middle;
  /*
  width: 250px;
  */
  padding: 10px;
  color: #CCCCCC;
  font-size: 9pt;
  line-height: 1.2em;
}

.iconhub-icon-title {
  color: #000000;
  font-weight: bold;
  font-size: 10pt;
}

/* ===== MENU ===== */

#iconhub-menu {
  padding-left: 100px;
  height: 70px;
  background: url('/images/logo/iconhub-logo-247364-2.png') left top no-repeat;
  position: relative;
  margin: 0;
}

#iconhub-menu a:hover {
  text-decoration: none;
}

#iconhub-menu li {
  display: table-cell;
  cursor: pointer;
}

#iconhub-menu > li {
  height: 55px;
  padding: 35px 10px 0 10px;
  color: #247364;
  /*
  vertical-align: bottom;
  */
}

#iconhub-menu > li i {
  transition-property: 'font-size';
  transition-duration: 0.3s;
  font-size: 10pt;
  line-height: 1em;
  /*
  vertical-align: bottom;
  */
}

#iconhub-menu > li:hover,
#iconhub-menu > li.selected-menu-parent {
  color: #094036;
  background: url('/images/util/triangle-F2F2F2.png') center bottom no-repeat;
}

#iconhub-menu a {
  color: #247364;
}

#iconhub-menu > li:hover a,
#iconhub-menu > li.selected-menu-parent a {
  color: #094036;
}

#iconhub-menu > li:hover i {
  transition-property: 'font-size';
  transition-duration: 0.3s;
  font-size: 13pt;
}

#iconhub-menu > li.selected-menu-parent i {
  font-size: 13pt;
}

#iconhub-menu > li {
  text-align: center;
}

#iconhub-menu span,
#iconhub-menu a {
  display: block;
}

#iconhub-menu ul {
  position: absolute;
  top: 90px;
  left: -1000px;
  width: 90%;
}

#iconhub-menu li:hover ul,
#iconhub-menu li.selected-menu-parent ul {
  left: 0;
}

#iconhub-menu li:hover ul {
  z-index: 5;
  background-color: #F2F2F2;
}

#iconhub-menu ul li {
  margin: 0;
  height: 40px;
  padding: 0 1em;
  vertical-align: middle;
}

#iconhub-menu li:hover ul li a,
#iconhub-menu li.selected-menu-parent ul li a,
#iconhub-menu ul li span {
  color: #247364;
}

#iconhub-menu ul li > span {
  margin: 10px 0;
}

#iconhub-menu li.selected-menu-parent ul li:hover,
#iconhub-menu li.selected-menu-parent ul li#selected-menu-item {
  background: url('/images/util/triangle-white.png') center bottom no-repeat;
}

#iconhub-menu li.selected-menu-parent ul li:hover *,
#iconhub-menu li.selected-menu-parent ul li#selected-menu-item * {
  color: #094036;
}


