
/*
Chango
Corben
Fascinate
Fascinate Inline
Poller One ***
Squada One ***

Signika Negative
Coda
Tinos
Abel
Share
*/
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Squada+One);
@import url('http://fonts.googleapis.com/css?family=Signika+Negative');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body > .container {
}

header {
  padding-top: 60px;
  /*
  border-bottom: solid 5px #CCCCCC;
  */
}

.jumbotron h1.iconhub-logo {
  font-family: 'Squada One';
  font-size: 50px;
  margin: 0;
  letter-spacing: 1pt;
  font-weight: normal;
  display: inline;
  position: relative;
  left: -2px;
}

h1.iconhub-logo a:hover {
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.lead {
  margin-left: 1em;
}

span.iconhub-logo-icon {
  color: #333333;
}

span.iconhub-logo-hub {
  color: #666666;
}

.dijitMenuBar {
  margin-top: .5em;
}

#footer {
  margin-top: 4em;
  border-top: solid 1px #999999;
  padding: .5em 0;
  font-size: .9em;
}

#content h2,
#content h3,
#content p,
#content ul,
#content ol {
}

#content h2 {
  font-weight: bold;
}

#content h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1.5em;
  margin-bottom: .2em;
  padding: 0;
  line-height: normal;
}

#content p,
#content ul,
#content ol {
  font-size: 16px;
}

#lift__noticesContainer__ {
  /*
  display: none;
  */
}

.form-hidden-labels label {
  display: none;
}

input {
  font-family: 'Source Sans Pro',sans-serif;
}

#lift__noticesContainer__ ul {
  font-family: 'Source Sans Pro',sans-serif;
  margin-left: 0;
}

#lift__noticesContainer__ li {
  list-style-type: none;
  color: #B94A48;
}

a.signup {
  margin-left: 1em;
}